* {
    font-family: "MonaspiceRn Nerd Font";
}

window#waybar {
    background: rgba(55, 16, 87, 0.7);
    color: #fed1eb;
    text-shadow:
        0 0 1px #fc199a,
        0 0 5px #fc199a,
        0 0 10px #fc199a;

}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd
{
    margin: 4px 0;
    padding: 3px 4px 2px;
    border: 1px solid #9963ff;
    background: rgba(55, 16, 87, 0.9);
    border-radius: 6px;
}
