secrets.sh

/spacemacs/.spacemacs.env

# one of these two should work!
home/.config/hypr/custom/keyboard.conf
/home/.config/hypr/custom/keyboard.conf

home/.config/hypr/custom/monitors.conf
/home/.config/hypr/custom/monitors.conf
