# This is Git's per-user configuration file.
[core]
# Please adapt and uncomment the following lines:
	user = jake
	email = jake@jakeprime.com
	excludesfile = ~/.gitignore_global
	editor = vim
  pager = delta
[push]
	default = simple
[user]
	name = Jake Prime
	email = jake@jakeprime.com
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[credential]
	helper = osxkeychain

[alias]
	set-upstream = !git branch --set-upstream-to=origin/`git symbolic-ref --short HEAD`
	pushf = push --force-with-lease
	praise = blame

[init]
	defaultBranch = main
[branch]
	autosetuprebase = always
[rebase]
	autosquash = true
[commit]
	verbose = true
[merge]
	conflictstyle = diff3
[github]
	user = jakeprime
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  light = false
  max-line-length = 0
[diff]
  colorMoved = default
[filter "readline-gemfile-gitignore"]
	clean = sed '/readline-ext/d'
	smudge = cat
