# wofi styles

* {}

#input {
    background: rgb(55, 16, 87);
    border: 1px solid #9963ff;
    box-shadow: none;
    color: #fed1eb;
}

#input > image {
    color: #9963ff;
}

#input:selected {
    border: 1px solid #9963ff;
    box-shadow: none;
}

#selected {
    background-color: transparent;
    color: #fed1eb;
    text-shadow:
        0 0 1px #fc199a,
        0 0 5px #fc199a,
        0 0 10px #fc199a;
}

#text {
    padding: 1px 3px 1px 10px;
}

#entry {
    background: transparent;
}

#entry:selected {
    background: transparent;
    outline: none;
}

window {
    background: rgba(55, 16, 87, 0.9);
    border-radius: 6px;
    border: 1px solid #9963ff;
    color: #fc199a;
    margin: 4px 0;
    /* font-family: "MonaspiceRn Nerd Font"; */

}
